html, body {
  background-color: black;
    color: white;
  margin: 2px;
  margin-bottom:30px;
  font-family: "Shadows Into Light", cursive;
}

header{
  color: blue;
  font-size: 80px;
  border-bottom: solid 2px white;
  display: flex;
  osition: relative;
  margin: 20px;
  padding: 0px;
}
.inicio{
  background: rgb(230,133,133);
  margin: 20px;
  padding: 20px;
  display: flex;
  font-size: 30px;
  border-radius: 80px;
  box-shadow: 2px 5px 5px gray;
}
p{
  text-align: justify;
}
.video{
  margin-right: 50px;
}

.logo{
  height: 100px;
  position:relative;
  z-index: -1;
  margin-left:700px;
}
.batata{
  margin: 50px;
  align-content: center;
}
.clipes{
  display: flex;
  ovrflow-x: auto;
  gap:10px;
}
.clipes img {
  height: 200px;
  opacity: 0,5;
  
}
.clipes img:hover{
  opacity:1,0;
  border: solid 2px purple;
  box-shadow: 2px 4px 4px gray;
}
footer{
   font-family: "Shadows Into Light", cursive;
  color:  green;
  lign-items: center;
  background-color: brown;
  position: fixed; 
  bottom: 0;
  width: 100%;
  height: 2em;
  padding:20px;
  text-align: center;
  font-size: 1.5rem;
  display:block;
  margin: 0 auto;
  padding-left: 450px;
}
font-family:"Shadows Into Light", cursive; texto;